:root {
    box-sizing: border-box;
}
  
*,
::before,
::after {
    box-sizing: inherit;
}
  
/* tablet */
body {
    font-family: Lato, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}
  
header {
    width: 100%;
}
  
nav {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
}
  
header a {
    font-family: "Playfair display", serif;
    font-weight: 600;
    font-size: 1.75rem;
    text-decoration: none;
    color: #a54e4d;
}
  
nav > a:hover {
    color: #2c2c2c;
}
  
.menu {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding-top: 10px;
  }
  
.menu a {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #2c2c2c;
    padding-left: 15px;
}
.menu a:hover {
    color: #a54e4d;
}
main {
    width: 100%;
}
.intro {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    
}
.intro img {
    width: 100%;

}
.intro h1 {
    width: 60%;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: black;
    padding-top: 3rem;
    margin: 0 auto;
}
.intro h2 {
    padding-top: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
#body-content {
    margin: 0 15%;
    padding-bottom: 3rem;
}
#body-content h2 {
    font-size: 1.2rem;
}
#body-content img {
    width: 90%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Desktop */
@media only screen and (min-width: 1236px) {
    #body-content {
        margin: 5rem 20%;
    }
    .intro img {
        width: 60%;
        margin: 0 auto;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #body-content img {
        width: 80%;
    }
}
@media only screen and (max-width: 448px ) {
    #body-content {
        margin: 4rem 10%;
    }
    #body-content img {
        width: 100%;
    }
}