:root {
    box-sizing: border-box;
}
  
*,
::before,
::after {
    box-sizing: inherit;
}
  
/* mobile */
body {
    font-family: Lato, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}
  
header {
    width: 100%;
}
  
nav {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
}
  
header a {
    font-family: "Playfair display", serif;
    font-weight: 600;
    font-size: 1.75rem;
    text-decoration: none;
    color: #a54e4d;
}
  
nav > a:hover {
    color: #2c2c2c;
}
  
.menu {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding-top: 10px;
  }
  
.menu a {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #2c2c2c;
    padding-left: 15px;
}
.menu a:hover {
    color: #a54e4d;
}
main {
    width: 100%;
}
h1 {
    font-family: "Playfair display", serif;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    color: #a54e4d;
}
h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}
  